@import "../../material/pixelpop-variables";
@import "../../material/pixelpop-extends";

.display-frequency-builder-dialog {
  max-width: 640px;
  font-size: 14px;

  .header-text {
    padding-bottom: 15px;
    font-size: 16px;
  }

  .pp-fieldset-title {
    padding-bottom: 6px;
    font-size: 16px;
  }

  [type="number"] {
    width: 30px;
  }

  .pp-help-icon-container {
    position: absolute;
  }

  md-radio-button {
    .md-label {
      font-size: 14px;
      color: $haiti;
    }
  }
}

.pp-radio-interactive {
  input,
  md-select {
    pointer-events: all;
  }
}
