<md-dialog class="pp-dialog display-frequency-builder-dialog" ng-controller="DisplayOptionsDialogController as vm">
  <div class="pp-dialog-header pp-dialog-header-bordered pp-dialog-header-dark">
    <h2 class="pp-dialog-title">Display Frequency</h2>
    <button class="pp-icon-button pp-dialog-close" ng-click="vm.abort()">
      <pp-icon icon="close"></pp-icon>
      <pp-popover>Close dialog without saving changes</pp-popover>
    </button>
  </div>

  <div class="pp-dialog-content">
    <div class="header-text">
      Choose when to display and stop displaying your popup. Check that it doesn’t conflict with other targeting,
      visitor actions, or scheduling selections.
    </div>
    <form name="vm.displayConditionsForm">
      <div>
        <div class="pp-fieldset-title">
          Display schedule
        </div>
        <md-radio-group ng-model="vm.selectedSchedule">
          <md-radio-button class="md-primary" value="showOnEveryPageView">Display on every page view</md-radio-button>
          <md-input-container>
            <md-radio-button class="md-primary pp-radio-interactive" value="timesPerDateSpan">Display once every
              <div class="pp-input-inline-wrapper" ng-click="vm.stopProp($event)">
                <input
                  type="number"
                  class="pp-input"
                  min="1"
                  ng-click="vm.stopProp($event)"
                  name="displayOptionsSchedulingTimesPerDateSpanValue"
                  ng-required="vm.selectedSchedule=='timesPerDateSpan'"
                  ng-model="vm.displayOptions.scheduling.timesPerDateSpan.value"
                  size="2"
                >
              </div>
              <md-input-container md-no-float>
                <md-select class="pp-select pp-select-outlined-small" ng-click="vm.stopProp($event)" ng-model="vm.displayOptions.scheduling.timesPerDateSpan.span">
                  <md-option value="day">day</md-option>
                  <md-option value="week">week</md-option>
                  <md-option value="month">month</md-option>
                </md-select>
              </md-input-container>
            </md-radio-button>
          </md-input-container>
          <div>
            <md-input-container>
              <md-radio-button class="md-primary pp-radio-interactive" value="oncePerNumberVisits">
                Display once every
                <div class="pp-input-inline-wrapper" ng-click="vm.stopProp($event)">
                  <input
                    type="number"
                    class="pp-input"
                    name="schedulingOncePerNumberVisitsValue"
                    min="1"
                    ng-click="vm.stopProp($event)"
                    ng-required="vm.selectedSchedule=='oncePerNumberVisits'"
                    ng-model="vm.displayOptions.scheduling.oncePerNumberVisits.value"
                    size="2"
                  >
                </div>
                visit<span ng-show="vm.displayOptions.scheduling.oncePerNumberVisits.value != 1">s</span>
              </md-radio-button>
            </md-input-container>
            <help-icon-popover>
              <div class="pp-popover-title">
                Website visits
              </div>
              <div class="pp-popover-body">
                <p>
                  A website visit may also be called a "browser session" and refers
                  to the duration of a visitor's stay on your website. A visit ends
                  when the visitor enters a new website address or closes their
                  browser, window or tab.
                </p>
                <p>
                  <a href=" http://support.pixelunion.net/article/413-how-to-set-your-display-frequency#website-visits" target="_blank">
                    Learn More
                  </a>
                </p>
              </div>
            </help-icon-popover>
          </div>
        </md-radio-group>
      </md-input-container>
      </div>
      <div>
        <div class="pp-fieldset-title">
          Stopping conditions
          <help-icon-popover>
            <div class="pp-popover-title">
              Stopping conditions
            </div>
            <div class="pp-popover-body">
              <p>
                Unlike display schedule, which dictates how often visitors see your popup, stopping conditions
                dictate when your popup will permanently stop displaying to visitors.
              </p>
              <p>
                <a href="http://support.pixelunion.net/article/413-how-to-set-your-display-frequency#stopping-conditions" target="_blank">
                  Learn More
                </a>
              </p>
            </div>
          </help-icon-popover>
        </div>
        <md-checkbox class="pp-checkbox" ng-model="vm.displayOptions.stoppingConditions.afterClosed.enabled">
          Stop displaying to visitor after they close the popup
        </md-checkbox>
        <br>
        <md-checkbox class="pp-checkbox" ng-model="vm.displayOptions.stoppingConditions.whenInteractedWith.enabled">
          Stop displaying to visitor after they submit an email or click a submit button
        </md-checkbox>
        <br>
        <md-input-container>
          <md-checkbox class="pp-checkbox" type="checkbox" ng-model="vm.displayOptions.stoppingConditions.afterTimesViewed.enabled">
            Stop displaying to visitor after
            <div class="pp-input-inline-wrapper" ng-click="vm.stopProp($event)">
              <input
                type="number"
                class="pp-input"
                min="1"
                size="2"
                ng-click="vm.stopProp($event)"
                ng-required="vm.displayOptions.stoppingConditions.afterTimesViewed.enabled"
                name="displayOptionsStoppingConditionsAfterTimesViewedValue"
                ng-model="vm.displayOptions.stoppingConditions.afterTimesViewed.value"
              >
            </div>
            <ng-pluralize count="vm.displayOptions.stoppingConditions.afterTimesViewed.value || 0" when="{'0': 'time', '1':'time', 'other':'times'}"></ng-pluralize>
          </md-checkbox>
        </md-input-container>
      </div>
    </form>
  </div>

  <div class="pp-actions pp-actions-dark">
    <md-button class="pp-button pp-button-rounded pp-button-secondary" ng-click="vm.abort()">Cancel</md-button>
    <md-button
      class="pp-button pp-button-rounded pp-button-primary"
      ng-click="vm.save()"
      ng-class="{'pp-button-disabled': vm.saveButtonDisabled()}"
    >
      Save & Close
      <pp-popover pp-no-delay pp-enabled="vm.saveButtonDisabled()">
        You don't have any changes to save.
      </pp-popover>
    </md-button>
  </div>
</md-dialog>
