<div class="header-prompt newsletter-error-banner" ng-show="vm.errorInstances.length >0">
  <div class="header-prompt-inner" ng-repeat="instance in vm.errorInstances">
    <strong>{{instance.reference_name}}</strong>
    is having trouble syncing with {{vm.providerName}}. Try reconnecting to {{vm.providerName}} or choose a different list
    <button class="pp-button pp-button-rounded pp-button-small pp-button-severe-contrast"
            ng-click="vm.openEmailCollectionDialog(instance)">
      Email Options
    </button>
  </div>
</div>
