<div class="header-prompt editor-error-banner" ng-show="vm.showBanner">
  <div class="header-prompt-inner">
    <strong>Hmm, we were unable to load your store. Please try refreshing the page or contact us.</strong>
    <button class="pp-button pp-button-rounded pp-button-small pp-button-secondary" ng-click="vm.dismiss()">
        Dismiss
    </button>
    <button class="pp-button pp-button-rounded pp-button-small pp-button-secondary" ui-sref="app.logged_in.support">
      Contact Us
    </button>
  </div>
</div>