<md-dialog class="pp-dialog target-device-builder-dialog" ng-controller="TargetDeviceBuilderDialogController as vm">
  <form name="vm.targetDeviceBuilderForm">
    <div class="pp-dialog-header pp-dialog-header-bordered pp-dialog-header-dark">
      <h3 class="pp-dialog-title">Visitor Device</h3>
      <button class="pp-icon-button pp-dialog-close" ng-click="vm.abort()">
        <pp-icon icon="close"></pp-icon>
        <pp-popover>Close dialog without saving changes</pp-popover>
      </button>
    </div>
    <div class="pp-dialog-content">
      <div class="pp-fieldset-title">
        Choose which devices to target
      </div>
      <md-input-container>
          <md-radio-group ng-model="vm.targetDevice" ng-repeat="device in vm.devices">
            <md-radio-button class="md-primary" ng-model="vm.targetDevice" value="{{device.id}}">
              {{device.label}}
            </md-radio-button>
          </md-radio-group>
      </md-input-container>
    </div>
    <div class="pp-actions pp-actions-dark">
      <md-button class="pp-button pp-button-rounded pp-button-secondary" ng-click="vm.abort()">Cancel</md-button>
      <md-button class="pp-button pp-button-rounded pp-button-primary" ng-click="vm.save()">
        Save & Close
      </md-button>
    </div>
  </form>
</md-dialog>

