@import "../../material/pixelpop-variables";
@import "../../material/pixelpop-extends";

.target-device-builder-dialog {
  max-width: 640px;
  font-size: 14px;

  md-input-container {
    margin-top: 12px;
  }

  .target-title:first-child { margin-top: 0; }

  md-radio-button {
    margin-bottom: 8px;

    .md-label {
      font-size: 14px;
      color: $haiti;
    }
  }
}


