@import "../../material/pixelpop-variables";

.settings-billing {
  padding: 17px 24px 5px 24px;
  background-color: $seashell;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.cancel-button {
  margin-left: 10px;
  background-color: $light-gray;
}

.stripe-card-section {
  display: flex;
  flex-direction: row;
  padding-top: 13px;
  padding-bottom: 20px;
}

.stripe-card-section > div {
  flex-direction: column;
}

.cardholder-name {
  width: 160px;
}

.card-element-title {
  width: 408px;
  padding-left: 16px;
  flex-direction: column;
}

.button-container {
  padding-top: 10px;
}

#card-element {
  min-width: 352px;
}

#card-errors {
  color:$carmine-pink;
}

.card-name-field {
  background: white;
  border: 1px solid $medium-light-gray;
  border-radius: 3px;
  outline: none;
  height: 36px;
  line-height: 1.43;
  width: 100%;
  padding: 5px 5px 5px 12px;
  font-size: 14px;
  color: $haiti;
  font-family: "Circular", sans-serif;

  &::placeholder { color: $light-gray; }
}

.card-element-field {
  background: white;
  border: 1px solid $medium-light-gray;
  border-radius: 3px;
  outline: none;
  height: 36px;
  line-height: 1.43;
  padding: 8px;
  font-family: "Circular", sans-serif;
  font-size: 14px;

  &::placeholder { color: $light-gray; }
}

.update-button-container {
  margin-bottom: 19px;
}

.stripe-errors {
  padding-bottom: 15px;
  font-size: 13px;
  color: $carmine-pink;
}