<div class="settings-billing">
  <form name="cardForm" novalidate>
    <h4 class="settings-panel-section-column-title">Credit Card Details</h4>
    <div class="stripe-card-section">
      <div class="cardholder-name">
        <label for="cardholder-name">
          <h4 class="settings-panel-section-column-title">Name</h4>
        </label>
          <input name="cardholderName" ng-model="cardholderName" class="card-name-field"
            ng-trim="true" placeholder="Jane Doe" required />
      </div>
      <div class="card-element-title">
        <label for="card-element">
          <h4 class="settings-panel-section-column-title">Card</h4>
        </label>
        <div id="card-element" class="card-element-field">
          <!-- a Stripe Element will be inserted here. -->
        </div>
      </div>
    </div>
    <div ng-if="action === 'update' " class="update-button-container">
      <md-button class="pp-button pp-button-rounded pp-button-primary" ng-click="vm.updateCard()" ng-disabled="updatingCard">
        {{ updatingCard ? 'Updating' : 'Update card' }}
      </md-button>
      <md-button class="pp-button pp-button-rounded cancel-button" ng-click="vm.hideCard()" ng-disabled="updatingCard">
        Cancel
      </md-button>
    </div>
    <div id="name-errors" class="stripe-errors" ng-if="cardForm.cardholderName.$invalid"
        ng-show="(cardForm.cardholderName.$dirty || vm.submitted) && cardForm.cardholderName.$error.required">
      <span class="error-color">Please enter a name</span>
    </div>
    <div id="card-errors" class="stripe-errors">
        <span ng-if="vm.stripeError">{{ vm.stripeError }}</span>
    </div>
  </form>
</div>
