<md-dialog class="pp-dialog add-card-dialog" ng-controller="AddCardDialogController as vm">
  <div class="pp-dialog-header pp-dialog-header-bordered pp-dialog-header-dark">
    <h2 class="pp-dialog-title">Choose Plan</h2>
    <button class="pp-icon-button pp-dialog-close" ng-click="vm.abort()">
      <pp-icon icon="close"></pp-icon>
      <pp-popover>Close dialog without saving changes</pp-popover>
    </button>
  </div>
  <div class="pp-dialog-content">
    <p>
      That's one of our premium plans! It offers additional features and more monthly popup views.
      Enter your credit card details to activate your new plan.
    </p>
    <billing-card-info action="add" site="site" planName="vm.planName"></billing-card-info>
  </div>
    <div class="pp-actions pp-actions-dark">
    <button class="pp-button pp-button-rounded pp-button-secondary" ng-click="vm.abort()">Cancel</button>
    <button class="pp-button pp-button-rounded addcard-{{vm.planName}}" ng-click="vm.add()" ng-disabled="addingCard">
      Choose {{vm.planName}} Plan
    </button>
  </div>
</md-dialog>