@import "../../material/pixelpop-variables";
@import "../../material/pixelpop-extends";

.add-card-dialog {
  max-width: 640px;

  .pp-dialog-content {
    padding: 24px 32px 32px;

    a {
      display: block;
      margin-top: 10px;
      text-decoration: underline;
    }
  }
}

@each $state, $color in $billing-styles {
  .addcard-#{$state} {
    background-color: $color;
    border-color: $color;
  }
}