@import "../../material/pixelpop-variables";

.invoice-container {
  width: 100%;
  padding-bottom: 20px;
  background-color: $seashell;
  border-radius: 5px;
}

.invoice-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.billing-invoices {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 22px 8px;
}

.invoice-buttons {
  padding-left: 10px;
}

.billing-invoice-table {
  padding-top: 4px;
  width: 100%;
}

.billing-invoice-table td {
  padding-bottom: 5px;
}

.billing-invoice-id { padding-right: 10px; }

.billing-invoice-date { padding-right: 10px; }

.billing-invoice-action {
  text-align: right;

  a { text-decoration: underline; }

  &:hover { color: $medium-carmine; }
}

.billing-invoice-loading {
  align-items: center;
  justify-content: center;
  width: 100%;

  .pp-loader { position: static; }
}
