<div class="invoice-container">
  <div class="invoice-section">
    <div class="billing-invoices">
      <div class="billing-invoice" ng-if="vm.invoicesLoaded">
        <table class="billing-invoice-table">
          <tr>
            <td>
            <h4 class="settings-panel-section-column-title">Invoice ID</h4>
            </td>
            <td>
            <h4 class="settings-panel-section-column-title">Issue date</h4>
            </td>
          </tr>
          <tr ng-repeat="invoice in vm.invoices" ng-if="vm.invoicesLoaded">
            <td class="billing-invoice-id">{{invoice.id}}</td>
            <td class="billing-invoice-date">{{invoice.date}}</td>
            <td class="billing-invoice-action"><a ng-click="vm.downloadInvoiceHTML(invoice.id)">Download</a></td>
          </tr>
        </table>
      </div>
      <div class="billing-invoice-loading" ng-if="!vm.invoicesLoaded">
        <pp-loader pp-style="billing" size="small"></pp-loader>
      </div>
    </div>
  </div>
  <div class="invoice-buttons" ng-if="vm.invoicesLoaded">
    <md-button class="pp-button pp-button-rounded cancel-button" ng-click="vm.hideInvoices()">Close</md-button>
  </div>
</div>